<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaassa.business"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="20"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
			android:name="com.kaassa.business.views.HomePage"
            android:label="@string/activity_homepage_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.kaassa.business.views.CompanyList"
            android:label="@string/activity_companylist_name" >
        </activity>
        
        <activity
            android:name="com.kaassa.business.views.ExecutiveList"
            android:label="@string/activity_executivelist_name" >
        </activity>
        
        <activity
            android:name="com.kaassa.business.views.CompanyDetail"
            android:label="@string/activity_companydetail_name"
			>
        </activity>
    </application>

</manifest>
